
<img class="close_button" src="jmvc/allergies/resources/close.png" alt="x" />

<!-- STATUS and NAME/TYPE -->
<% if ("active" != meta.status) { %>
<div class="warnsign status_<%= meta.status %>"><%= meta.status %></div>
<% } %>
<h2><%= item.name %></h2>
<h3><%= item.type %></h3>

<!-- MAIN -->
<% if (item.reaction) { %>
<p class="details bigger"><%= item.reaction %></p>
<% } %>
<% if (item.specifics) { %>
<p class="details"><%= item.specifics %></p>
<% } %>

<!-- META -->
<% if (item.diagnosedBy || item.dateDiagnosed) { %>
<p class="meta">
    Diagnosed 
    <% if (item.diagnosedBy) { %>by <b><%= item.diagnosedBy %></b><% } %>
    <% if (item.dateDiagnosed) { %>on <b><%= item.dateDiagnosed %></b><% } %>
</p>
<% } %>

<!-- ACTION -->
<div class="bottom_buttons">
    <% var archive_title = ("archived" == meta.status) ? "Reactivate..." : "Archive...";
    var void_title = ("void" == meta.status) ? "Unvoid..." : "Void..."; %>
   
    <div class="action_area">
        <img src="jmvc/allergies/resources/spinner-small-ondark.gif" alt="" />
        <span id="action_text">funny</span>
    </div>
    <input class="action_button" type="button" value="<%= archive_title %>" <% if ("void" == meta.status) { %>disabled="disabled"<% } %> data="archive" <%= this %> />
    <input class="action_button red" type="button" value="<%= void_title %>" <% if ("archived" == meta.status) { %>disabled="disabled"<% } %> data="void" <%= this %> />
    <input class="action_button bold" type="button" value="Edit" <% if ("active" != meta.status) { %>disabled="disabled"<% } %> data="edit" <%= this %> />
</div>

<!-- HISTORY -->
<div class="history">
    <div class="history_spinner">
        <img src="jmvc/allergies/resources/spinner-small.gif" alt="" />
        Fetching history...
    </div>
</div>