
<div id="one_allergy" class="floating_window">
    <div class="floating_window_gradient">
        <img id="floating_close" class="dismiss_floating" src="jmvc/allergies/resources/close.png" alt="x" />
        
        <!-- STATUS and NAME/TYPE -->
        <% if ("active" != meta.status) { %>
        <div class="warnsign status_<%= meta.status %>"><%= meta.status %></div>
        <% } %>
        <h2><%= item.name %></h2>
        <h3><%= item.type %></h3>
        
        <!-- MAIN -->
        <% if (item.reaction) { %>
        <p class="details bigger"><%= item.reaction %></p>
        <% } %>
        <% if (item.specifics) { %>
        <p class="details"><%= item.specifics %></p>
        <% } %>
        
        <!-- META -->
        <div class="bottom_buttons">
            <% if (item.diagnosedBy || item.dateDiagnosed) { %>
            <p class="meta">
                Diagnosed 
                <% if (item.diagnosedBy) { %>by <b><%= item.diagnosedBy %></b><% } %>
                <% if (item.dateDiagnosed) { %>on <b><%= item.dateDiagnosed %></b><% } %>
            </p>
            <% }
            var archive_title = ("archived" == meta.status) ? "Reactivate" : "Archive";
            var void_title = ("void" == meta.status) ? "Unvoid" : "Void"; %>
            <input id="start_editing" type="submit" value="Update" />
            <div id="action_panel">
                <input id="cancel_editing" type="button" value="Cancel" />
                <input class="action_button bold" type="button" value="Edit" <% if ("active" != meta.status) { %>disabled="disabled"<% } %> data="edit" <%= this %> />
                <input class="action_button" type="button" value="<%= archive_title %>" data="archive" <%= this %> />
                <input class="action_button red" type="button" value="<%= void_title %>" data="void" <%= this %> />
            </div>
        </div>
        
        <!-- HISTORY -->
    </div>
</div>