
<form id="allergy_form" class="floating_window float_form" method="post" action="" onsubmit="return false">
    <div class="floating_window_gradient">
        <a class="close_button dismiss_floating" href="javascript:void(0);" alt="x"></a>
        
        <% if (!this.item) { item = {}; meta = {}; } %>
        
        <p class="bigger">Allergen<input class="full" type="text" name="allergen_name" value="<%= item.name %>" /></p>
        <p class="small multi_row">SNOMED-CT Code <input class="short small" type="text" name="allergen_name_value" value="<%= item.name_value ? item.name_value : '' %>" /></p>
        <p>Type<input class="full" type="text" name="allergen_type" value="<%= item.type %>" /></p>
        
        <p>Reaction<input class="full" type="text" name="reaction" value="<%= item.reaction %>" /></p>
        <p>Description<textarea class="full" name="specifics"><%= item.specifics %></textarea></p>
        
        <p class="multi_row">
            Diagnosed by 
            <input class="short" type="text" name="diagnosed_by" value="<%= item.diagnosedBy %>" /> on 
            <input class="short" type="text" name="date_diagnosed" value="<%= item.dateDiagnosed %>" />
        </p>
        
        <div class="bottom_buttons">
            <input class="dismiss_floating" type="reset" value="Cancel" <%= this %> />
            <input type="submit" value="<% if (this) { %>Save<% } else { %>Report<% } %>" />
            <input type="hidden" name="id" value="<% if (meta.id) { %><%= meta.id %><% } %>" />
        </div>
    </div>
</form>
