<div class="one_history<% if ('meta' == type && id != latest) { %> history_meta" data-id="<%= id %>"<% } %>" data-type="<%= type %>">
    <% var img_name = ("meta" == type) ? (id == original ? "version-first" : ((id == latest) ? "version-latest" : "version")) : type;
    var img_title = ("meta" == type) ? (id == original ? "Document created" : ((id == latest) ? "Current version" : "Older version")) : type; %>
    <img class="history_type" src="jmvc/allergies/resources/<%= img_name %>.png" alt="<%= img_name %>" title="<%= img_title %>" />
    
    <% if ("status-history" == type) {
        var stat_class = ("active" == status) ? "green" : "red"; %>
    Status ➔ <b class="<%= stat_class %>"><%= status %></b><% if (reason) { %>&nbsp;&nbsp;(<%= reason %>)<% } %>
    <% } else {
        var doc_status = (id == original) ? "created" : "updated"; %>
    Document <b><%= doc_status %></b>
    <% } %>
    
    <div class="small">
        <% if (creator.name) { %><%= creator.name %><% } else { %><%= creator.id %><% } %><br />
        <%= createdAt %>
    </div>
</div>