<tr class="one_allergy_row <%= ("active" != meta.status) ? " warnsign status_" + meta.status : "" %>">
    <td>
        <% if ("active" != meta.status) { %>
        <span><%= meta.status %></span>
        <% } %>
        <h2><a class="link_from_dense" href="javascript:void(0);" <%= this %>><%= item.name %></a></h2>
    </td>
    <td><% if (item.type) { %><h3><%= item.type %></h3><% } %></td>
    <td class="details"><%= item.reaction %></td>
    <td class="meta">
        <b><%= item.diagnosedBy %></b><% if (item.diagnosedBy && item.dateDiagnosed) { %>, <% } %>
        <%= item.dateDiagnosed %>
    </td>
</tr>