<div class="one_allergy" <%= this %>>
    <div class="one_allergy_inner">
        
        <!-- STATUS and NAME/TYPE -->
        <% if ("active" != meta.status) { %>
        <div class="warnsign status_<%= meta.status %>"><%= meta.status %></div>
        <% } %>
        <h2><%= item.name %></h2>
        <% if (item.name_value) { %>
            <div class="coded_allergy_type">SNOMED-CT: <a href="<%= item.name_type %><%= item.name_value %>" target="_blank"><%= item.name_value %></a></div>
        <% } %>
        <!--h3><%= item.type %></h3-->
        <img class="type_image" src="resources/allergy_types/<%= item.type ? item.type : 'Other' %>.png" alt="" title="<%= item.type %>" />
        
        <!-- MAIN -->
        <% if (item.reaction) { %>
        <p class="details bigger"><%= item.reaction %></p>
        <% } %>
        <% if (item.specifics) { %>
        <p class="details"><%= item.specifics %></p>
        <% } %>
        
        <!-- META -->
        <% if (item.dateDiagnosed || item.diagnosedBy) { %>
        <p class="meta">
            Diagnosed 
            <% if (item.diagnosedBy) { %>by <b><%= item.diagnosedBy %></b><% } %>
            <% if (item.dateDiagnosed) { %>on <b><%= item.dateDiagnosed %></b><% } %>
        </p>
        <% } %>
    </div>
</div>
