<%
if (reports && reports.length > 0) {
    var reports_sorted = _(reports).sortBy(function(r){
        if (typeof(r.item.dateDiagnosed) != 'undefined')
            return r.item.dateDiagnosed;
        else
            return '-99999';
    });

    _(reports_sorted.reverse()).each(function(report) {
        var date = report.item.dateDiagnosed;
        var doc = report.item.diagnosedBy;
        var name = report.item.name;
        var type = report.item.type;
        var reaction = report.item.reaction;
        var specifics = report.item.specifics;
%>
    <tr>
        <td><%= name %>
        <% if (type) { %>
            <div class="family"><%= type %></div>
        <% } %>
        </td>
        <td class="details"><%= reaction %>
        <% if (specifics) { %>
            <div class="specifics"><%= specifics %></div>
        <% } %>
            <div class="meta">
                <%= doc %>
                <% if (date && doc) { %>, <% } %>
                <%= date %>
                <a class="update_allergy" href="javascript:void(0);">Update</a>
            </div>
        </td>
    </tr>
<% })
}
else { %>
    <tr>
        <td colspan="2"><h3>No reports</h3></td>
    </tr>
<% } %>